<div class="bottom_footer">
	<footer>
		<div class="container text-center">
			<div class="row">
				<div class="col-xs-6">
				 	<h3>Kontakt Oss</h3>
				 	<p>Dagaliveien 17, 0776 Oslo - <a class="map_LinkBlue" target="_blank" href="https://www.google.no/maps/dir//Dagaliveien+17,+0776+Oslo/@59.9559097,10.6854327,15z">Se kart</a></p>
					<p>Telefon: 400 96 101 </p>
					<p>Epost: post@aabergebrudesalong.no </p>
				</div>
				<div class="col-xs-6">
				 	<h3>Åpningstider</h3>
					<p>mandag-fredag 10-19,</p>
					<p>lørdag 10-18</p>
					<p>søndag stengt</p>
				</div>
			</div>
		 	<hr>
		 	<ul class="list-inline">
		 		<li><a href="https://www.instagram.com/aabergebrudesalong/" target="_blank">Instagram</a></li>
		 		<li><a href="https://www.pinterest.com/aabergebrudesal/" target="_blank">Pinterest</a></li>
		 		<li><a href="https://www.facebook.com/profile.php?id=100010711535862" target="_blank">Facebook</a></li>
		 	</ul>

		 	<p>Aaberge Brudesalong AS</p>
	 	</div>
	</footer>
</div>