<div class="top_area">
	<div class="LanguageOptions">
		<a href="#"> <img src="img/lang/norwegian.png" alt="Norsk"> </a>
		<a href="en/"> <img src="img/lang/english.png" alt="English"> </a>
	</div>
	<div class="shareOptions">
		<a href="https://www.instagram.com/aabergebrudesalong/" target="_blank"> <img src="img/social/instagram.png" alt="Instagram"> </a>
		<a href="https://www.facebook.com/profile.php?id=100010711535862" target="_blank"> <img src="img/social/facebook.png" alt="Facebook" > </a>
		<a href="https://www.pinterest.com/aabergebrudesal/" target="_blank"> <img src="img/social/pinterest.png" alt="Pinterest"> </a>
	</div>
</div>
<div class="menu-wrap">
    <nav class="menu">
        <ul class="menu_list">
            <li><a href="index.html">Hjem</a></li>
            <li>
                <a class="dropdownKolleksjon" href="#">Kolleksjon <span class="arrow">&#9660;</span></a>
                <ul class="sub-menu">
            		<li><a href="kolleksjon.html#Elegant">Elegant</a></li>
					<li><a href="kolleksjon.html#Prinsesse">Prinsesse</a></li>
					<li><a href="kolleksjon.html#Romantikk">Romantikk</a></li>
					<li><a href="kolleksjon.html#Brudepike">Brudepike</a></li>
                </ul>
            </li>
            <li>
				<a class="dropdownAccessories" href="#">Accessories <span class="arrow">&#9660;</span></a>
				<ul class="sub-menu">
					<li><a href="accessories.html#Slør">Slør</a></li>
					<li><a href="accessories.html#Hårpynt">Hårpynt</a></li>
					<li><a href="accessories.html#Kåper">Kåper</a></li>
                </ul>
			</li>
            <li><a href="bestill_time.html">Bestill Time</a></li>
            <li><a href="om_oss.html">Om Oss</a></li>
        </ul>
    </nav>
</div>