/*----- MAP -----*/
.mapArea{
	width: 90%;
	margin: auto;
	height: 400px;

	.map_oss{
		width: 100%;
		height:  350px;
		display: inline-block;
	}

	.map_bestilling{
		width: 85%;
		margin: auto;
		height: 200px;
	}

	.mapInfo{
		margin-left: 3%;
	}
	
}

.map_Link{
	margin-left: 7.5%;
	color: blue;
}
.map_footer{
	color: blue;
}


@media (max-width: 500px) { 
	.mapArea{
		height: 700px;
	}
}